form{
    display: flex;
    flex-direction: column;
}

form label{
    color: #d8cf7e;
    font-size: 1.2rem;
}

form input{
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    color: #d8cf7e;
}

form label{
    margin-bottom: 5px;
}

form input{
    margin-bottom: 10px;
}

form button{
    background-color: #d8cf7e;
    color: #6B4423;
    padding: 12px 8px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}