.container
{
    max-width: 600px;
    margin: 0 auto;
}

h1{
    font-size: 2.2em;
    margin-bottom: 0;
}

p{
    margin-top: 0;
    font-weight: bold;
}

h1, p{
    text-align: center;
    color: #d8cf7e;
}

@media(max-width: 576px)
{
    .container{
        width: 98%;
        margin: auto;
    }
}